<p>
  about works!
</p>


<h2>Below are the list of Top 37 Angular 2.0 interview questions and answers.</h2>
 <div class="col-4">
  <ul class="">
    <li id="">
      <div class="">
        <div class="">
          <span>
            Q1.
            Q1.
          </span></div>
        <div>
          <h3>
            What is Angular 2?
          </h3>
          <div>
            <p><strong>Angular 2</strong> is a completely revived component-based <strong><a href="https://www.onlineinterviewquestions.com/javascript/"
                  target="_blank" rel="noopener noreferrer">Javascript framework</a></strong> in which an application
              is
              a tree of loosely coupled components. It is a more advanced version of angularJS. It is more of an "all
              in
              one" framework so it also helps in creating a single website without getting trapped into different JS
              frameworks. An Angular 2 is a modular framework in which our code is divided into individual procedures
              that offer a similar kind of functionality, hence improving the testing, up gradation and maintenance of
              the application. It has a lot of useful features such as- server-side rendering, cross-platform, and
              supports more languages than any other framework. It is a new typescript framework built around the
              concept
              of components which is paving the way for a better and spacious development. We can even make hybrid
              applications using Angular 2 which gives us a sharp edge by providing us the flexibility to use the same
              standard codes for developing other applications.</p>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="list-some-advantages-of-angular-2-over-a">
      <div>
        <div class="chatter_avatar">
          <span>
            Q2.
          </span></div>
        <div>
          <h3>
            List some advantages of Angular 2 over Angular1.</h3>
          <div>
            <p><strong>Angular 2</strong> is a re-written version of Angular1 and not an update. The best way to
              compare
              Angular 2 and Angular 1 is by finding out the new features in Angular 2. This way we will be able to find
              out the advantages of Angular 2 over Angular1 precisely. So, some of the advantages of Angular 2 are:-</p>
            <table class="table">
              <tbody>
                <tr>
                  <th>Angular 2</th>
                  <th>Angular1</th>
                </tr>
                <tr>
                  <td>Angular 2 is a mobile-oriented framework</td>
                  <td>Whereas Angular1 was not developed with mobile base in mind.</td>
                </tr>
                <tr>
                  <td>Angular 2 is a versatile framework, i.e. we have more choices for languages. We can use ES5, ES6,
                    Typescript or Dart to write an Angular 2 code</td>
                  <td>Whereas an Angular1 code can written by using only ES5, ES6 and Dart. We don’t have many choices
                    of
                    language in Angular1.</td>
                </tr>
                <tr>
                  <td>Nowadays, the controllers are replaced by components and Angular 2 is completely component based.</td>
                  <td>Whereas Angular1 was based on controllers whose scope is now over.</td>
                </tr>
              </tbody>
            </table>
            <p>Angular 2 directly uses the valid HTML DOM element properties and events which reduces the usage of many
              available built-in directives.</p>

          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-are-the-new-features-of-angular-2">
      <div>
        <div class="chatter_avatar">
          <span>
            Q3.
          </span></div>
        <div>
          <h3>
            What are the new features of Angular 2?</h3>
          <div>
            <p>Angular 2 is a platform that encompasses a wide range of capabilities. Some new features were added in
              Angular 2 which includes:</p>
            <ul>
              <li>
                <b>Universal server rendering-</b> It is the library which is used to make building universal apps a
                smooth experience. It is an important feature of Angular 2.</li>
              <li>
                <b>A mobile toolkit-</b> It provides all the mobile toolkit and techniques to build high-performance
                mobile applications. The web applications which are developed using the mobile toolkit can be loaded on
                any device with or without internet connection which is a great advantage.</li>
              <li>
                <b>A command line interface-</b>it can generate components, routes, services, and pipes with the help
                of
                commands.</li>
              <li>
                <b>Data binding-</b> data binding has been improved in Angular 2. So, whatever DOM element property you
                need to bind, you just wrap it in square brackets. E.g.-
                <pre>&lt;img[src]='product.image' /&gt;</pre>
              </li>
              <li>
                <b>Modular-</b> various modules have been removed from angular’s core, which has resulted in better
                performance.</li>
              <li>
                <b>Modern-</b> Angular 2 has been targeted as modern browsers in which various hacks that make angular
                harder to develop have been removed.</li>
            </ul>

          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="how-do-you-define-transition-between-two">
      <div>
        <div class="chatter_avatar">
          <span>
            Q4.
          </span></div>
        <div>
          <h3>
            How do you define transition between two states in angular?</h3>
          <div>
            <p>Transitions between two states take place so that we can build simple animations between two states
              driven
              by a model attribute. Transition basically means navigating from the current state to a new state. In
              angular, the transition is an animation-specific function which is used in angular&rsquo;s animation DSL
              language. Transition declares the sequence of animation steps that will be executed when the entered
              value
              is satisfied. A function is provided an argument for a transition and it will be executed each time a
              state
              change occurs. In this, if the function is true, then the animation will run else it won&rsquo;t get
              executed.</p>
            <p>These animation transitions are placed within the animation triggers. The transition depends upon what
              the
              animation was in the previous state and what it will become in the next state. In other words, if a
              transition is defined that matches the old/current state criteria then the associated animation will be
              triggered.</p>
            <p><strong>Syntax:</strong></p>
            <pre>function transition (stateChangeExpr: string,steps: AnimationMetadata | 
	 AnimationMetadata []):AnimationTransitionMetadata;
</pre>

          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="how-to-declare-a-component-in-angular-2">
      <div>
        <div class="chatter_avatar">
          <span>
            Q5.
          </span></div>
        <div>
          <h3>
            How to declare a component in Angular 2?</h3>
          <div>
            <p>Components in Angular 2 are simply directives that are always associated with a direct template. Angular
              2
              components have an extremely well defined life-cycle. When working with angular components, we can make
              use
              of interfaces which allows us to implement functionality for different times in a components lifecycle. A
              component must belong to an NgModule in order for it to be usable by another component or application.
              Components can even control their runtime behaviour by implementing various Life-cycle hooks.</p>
            <h5>Declaration of component:</h5>

            <p>Components always have a template and only one component can be instantiated per an element in a
              template.
              When a component is instantiated, angular creates a change detector, which is responsible for propagating
              the component’s building.</p>

          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-is-the-difference-between-observabl">
      <div>
        <div class="chatter_avatar">
          <span>
            Q6.
          </span></div>
        <div>
          <h3>
            What is the difference between observable and promises?</h3>
          <div>
            <p>The differences between observable and promises are:</p>
            <ol>
              <li>Observable is a more powerful way of handling HTTP asynchronous requests. Whereas, A promise handles
                a
                single event when an asynchronous operation completes or fails.</li>
              <li>An observable is like a stream which allows passing zero or more events where the callback is called
                for each event. Whereas, A promise eventually calls the success or failed callback even when you don’t
                need the notification or the result it provides anymore.</li>
              <li>Observable works with multiple values for a particular time. Whereas, Promises works with and even
                returns a single value at a time.</li>
              <li>Observables can be canceled. Whereas, Promises cannot be canceled.</li>
              <li>Observable supports map, filter, reduce and similar operators. Whereas, Promises have more readable
                codes with try/catch and async/await.</li>
              <li>In observable, one operator ‘retry’ can be used to retry whenever needed. Whereas, Promises cannot be
                retried. A promise should have access to the original function that returned the promise in order to
                have
                a retry capability.</li>
            </ol>
            
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="list-the-differences-between-angular-2-c">
      <div>
        <div class="chatter_avatar">
          <span>
            Q7.
          </span></div>
        <div>
          <h3>
            List the differences between Angular 2 components vs. directives.</h3>
          <div>
            <p>Apart from components, directives are also used in Angular 2 which allows us to attach behavior to
              elements in DOM. There are certain differences between the components and directives in Angular 2. They
              are:</p>
            <ol>
              <li>In Angular 2, a component is a directive with a view whereas a directive is a decorator with no view.
                Components are the specific type of directive that allows us to utilize web component functionality
                throughout our application. Whereas, Directive is the mechanism by which we attach behavior to
                elements.</li>
              <li>A component is used to break up the application into smaller components. Whereas, Directive is used
                to
                design the re-usable components.</li>
              <li>Components can be used to define pipes. Whereas, We cannot define pipes using directives.</li>
              <li>Components can be present per DOM element. Whereas, Directive is used to add behavior to an existing
                DOM element.</li>
            </ol>

          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-is-ecmascript">
      <div>
        <div class="chatter_avatar">
          <span>
            Q8.
          </span></div>
        <div>
          <h3>
            What is ECMAScript?</h3>
          <div>
            <p>ECMAScript is a standard for scripting languages. It is a subset of <b>Javascript</b>. Languages such as
              ActionScript, JavaScript use ECMAScript as its core. ECMA stands for European Computer Manufacturer’s
              Association. Coders commonly use ECMAScript for client-side scripting on the World Wide Web. It is also
              used for server applications and services. It includes structured, dynamic, functional, and
              prototype-based
              features. The ECMAScript was developed by Brendan Eich of Netscape. The ECMAScript is standardized by the
              ECMA international standards organization in the ECMA-262 and ECMA-402 specifications. It is a
              programming
              language which is designed specifically for acting on an existing entity or system. It provides the
              rules,
              details, and guidelines that a scripting language must observe to be considered ECMAScript compliant.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-is-ecmascript/" target="_blank"
                title="Discuss What is ECMAScript?"><i class="fa fa-comments-o"></i> 0 Answer</a> <a href="https://www.onlineinterviewquestions.com/what-is-ecmascript/"
                target="_blank" title="Discuss What is ECMAScript?"><i class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-is-traceur-compiler">
      <div>
        <div class="chatter_avatar">
          <span>
            Q9.
          </span></div>
        <div>
          <h3>
            What is Traceur Compiler?</h3>
          <div>
            <p>Traceur is a compiler which takes ECMAScript and compiles it down to regular Javascript that runs in
              your
              browser. Traceur can be used in several ways like- typing or pasting the ES6 code into the
              read-eval-print-loop page, or by including traceur in the web page and compiling ES6 code content on the
              fly, or many other ways. Even traceur is written in ES6, compiled to ES5. The main goal of a traceur
              compiler is to inform the designs of Javascript features and allows us to write the code in a better
              manner. Nowadays, traceur compilers are broadly used in Angular 2 platform. It also supports transpilling
              and type checking via type annotations.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-is-traceur-compiler/"
                target="_blank" title="Discuss What is Traceur Compiler?"><i class="fa fa-comments-o"></i> 0 Answer</a>
              <a href="https://www.onlineinterviewquestions.com/what-is-traceur-compiler/" target="_blank" title="Discuss What is Traceur Compiler?"><i
                  class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <ins class="adsbygoogle"
        style="display:block" data-ad-format="fluid" data-ad-layout-key="-er-3-69-tb+232" data-ad-client="ca-pub-7645092553596226"
        data-ad-slot="5075333170"></ins>

    </li>
    <li id="list-the-modern-browsers-supported-by-an">
      <div>
        <div class="chatter_avatar">
          <span>
            Q10.
          </span></div>
        <div>
          <h3>
            List the modern browsers supported by Angular 2.</h3>
          <div>
            <p>Angular supports most of the recent browsers some of which are:</p>
            <ul>
              <li>Google Chrome</li>
              <li>Firefox</li>
              <li>Edge</li>
              <li>IE for versions 9-11</li>
              <li>Safari</li>
              <li>iOS 7.1</li>
              <li>Android 4.1</li>
              <li>IE Mobile</li>
            </ul>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/list-the-modern-browsers-supported-by-an/"
                target="_blank" title="Discuss List the modern browsers supported by Angular 2."><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/list-the-modern-browsers-supported-by-an/"
                target="_blank" title="Discuss List the modern browsers supported by Angular 2."><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="when-to-use-ngoninit-and-constructor-in">
      <div>
        <div class="chatter_avatar">
          <span>
            Q11.
          </span></div>
        <div>
          <h3>
            When to use Ngoninit and constructor in Angular 2?</h3>
          <div>
            <p>Constructors are used for initializing class members and also for dependency injection. Ngonlnit is used
              for the initialization work. Both of these methods are called when the component is created. It is really
              important that we should know, when to and how to use them. These are used for providing the best
              structure
              for your component’s code. A constructor method is a pre-defined method in the constructor class which is
              only called when the class is instantiated. It is also used for properly initializing the fields. The
              constructor in Angular 2 is used to create a new instance of the class. Ngonlnit is the class we import
              when we implement the constructor in order to use it in a class. The method used in this case is
              ngOnlnit(). This method helps in initializing the directive or the component after the data-bound
              properties are displayed and the directive or components input is set.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/when-to-use-ngoninit-and-constructor-in/"
                target="_blank" title="Discuss When to use Ngoninit and constructor in Angular 2?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/when-to-use-ngoninit-and-constructor-in/"
                target="_blank" title="Discuss When to use Ngoninit and constructor in Angular 2?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="how-to-cache-an-observable-data-in-angul">
      <div>
        <div class="chatter_avatar">
          <span>
            Q12.
          </span></div>
        <div>
          <h3>
            How to cache an observable data in Angular 2?</h3>
          <div>
            <p>Caching of an observable data is done with the help of “observable.cache”. We can use caching in order
              to
              cache the response in the memory and then, on the next subscription, instead of requesting the remote
              server again. This operator is used at the end of the string. Caching is important for the performance,
              especially on bandwidth restricted devices and slow networks. You should have a good understanding of
              caching while working with promises but while translating it to observable, it is a bit difficult.
              Therefore, when interacting with observables, we typically set up a subscription on the consumer side and
              react to values coming through the pipe. We can easily add caching to the observables by adding
              publishReplay(1) and refCount.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/how-to-cache-an-observable-data-in-angul/"
                target="_blank" title="Discuss How to cache an observable data in Angular 2?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/how-to-cache-an-observable-data-in-angul/"
                target="_blank" title="Discuss How to cache an observable data in Angular 2?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="list-out-the-differences-between-activat">
      <div>
        <div class="chatter_avatar">
          <span>
            Q13.
          </span></div>
        <div>
          <h3>
            List out the differences between ActivatedRoute and RouterState, with reference to Angular 2.</h3>
          <div>
            <p>Here are some of the differences between ActivatedRoute and RouterState with reference to Angular 2:-</p>
            <ol>
              <li>ActivatedRoute consists of the information about a route associated with a component loaded in an
                outlet. Whereas, RouterState represents the state in which the writer actually is.</li>
              <li>We need ActivatedRouteSnapchat to traverse all the activated routes. Whereas, during a navigation,
                after redirects have been applied, the router creates a RouterStateSnapshot.</li>
              <li>ActivatedRouteSnapshot has old data. When route changes, ActivateRouteSnapshot has data from previous
                route. Whereas, the RouterState cares about application components, or, to be more specific, about
                their
                arrangements.</li>
            </ol>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/list-out-the-differences-between-activat/"
                target="_blank" title="Discuss List out the differences between ActivatedRoute and RouterState, with reference to Angular 2."><i
                  class="fa fa-comments-o"></i> 0 Answer</a> <a href="https://www.onlineinterviewquestions.com/list-out-the-differences-between-activat/"
                target="_blank" title="Discuss List out the differences between ActivatedRoute and RouterState, with reference to Angular 2."><i
                  class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-would-you-have-in-a-shared-module-i">
      <div>
        <div class="chatter_avatar">
          <span>
            Q14.
          </span></div>
        <div>
          <h3>
            What would you have in a shared module in Angular 2?</h3>
          <div>
            <p> Shared module is used to import the services in both eager and lazy loaded module. We all know that
              lazy
              loaded modules create their own branch on the dependency injection tree. Shared module consists of the
              services that are registered by the angular in the root app injector. For this, we need not import it in
              the lazy module because lazy loaded modules already have access to the services defined at the root.
              Components, pipes and directives are also defined in the shared module. Other modules that import the
              shared module can use it in their templates. This means that the modules can be imported normally in the
              lazy loaded module. The shared module contains the code that will be used across the applications and
              featured modules. It also consists of the common template components. “Dumb components” should also be
              present in the shared module. It typically consists of some common angular modules too. When you are
              importing the shared module, you will also need to import the module with its providers, because there is
              no app module in the test.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-would-you-have-in-a-shared-module-i/"
                target="_blank" title="Discuss What would you have in a shared module in Angular 2?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/what-would-you-have-in-a-shared-module-i/"
                target="_blank" title="Discuss What would you have in a shared module in Angular 2?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-do-you-mean-by-a-structural-directi">
      <div>
        <div class="chatter_avatar">
          <span>
            Q15.
          </span></div>
        <div>
          <h3>
            What do you mean by a structural directive in Angular 2?</h3>
          <div>
            <p>Structural directives are used to manipulate DOM in angular. Structural directives are responsible for
              HTML layout. By adding, removing, or manipulating LMNs in angular, they shape or reshape the structure of
              DOM. This structural directive is applied to a host element with the help of other directives. The
              directives then do whatever it is supposed to do with that host element and its descendants. Structural
              directives can be easily recognized. It can also delay the instantiation of a component or an element. It
              can also be used for cosmetic effect or manually handling the timing of the loading of components.
              Structural directives are bound to a template. The two most common structural directives are “ngIf” and
              “ngFor”. The process occurring in a structural directive is dynamic.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-do-you-mean-by-a-structural-directi/"
                target="_blank" title="Discuss What do you mean by a structural directive in Angular 2?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/what-do-you-mean-by-a-structural-directi/"
                target="_blank" title="Discuss What do you mean by a structural directive in Angular 2?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-do-you-understand-by-a-template-var">
      <div>
        <div class="chatter_avatar">
          <span>
            Q16.
          </span></div>
        <div>
          <h3>
            What do you understand by a template variable? How is it used?</h3>
          <div>
            <p>A template in Angular 2 is used to instantiate embedded views. A template variable can be accessed in
              two
              ways. Either by placing a directive on an element and have the template variable for this embedded view
              injected into the constructor of the directive using the template variable token, or you can query for
              the
              template variable from a component or a directive via the query. A template variable in Angular 2 is a
              reference to a DOM element or directive within a template. Template variables are used to access the
              values
              of DOM element properties. It is declared with the help of “#” and “ref-“as a prefix. For example: –
              #myVar
              and ref-myVar. Template variable names cannot be made duplicate as in this way, it might give
              unpredictable
              values. The scope of a reference variable is the entire template. It can be used anywhere inside a
              template. In Angular 2, a component needs to have a view and to define a view, a template variable is
              used.
              It allows us to express data and property binding, event binding and template concerns.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-do-you-understand-by-a-template-var/"
                target="_blank" title="Discuss What do you understand by a template variable? How is it used?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/what-do-you-understand-by-a-template-var/"
                target="_blank" title="Discuss What do you understand by a template variable? How is it used?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="explain-the-concept-of-lazy-loading-in-a">
      <div>
        <div class="chatter_avatar">
          <span>
            Q17.
          </span></div>
        <div>
          <h3>
            Explain the concept of lazy loading in Angular 2.</h3>
          <div>
            <p>Lazy loading is a module which is used to decrease the start-up time. When lazy is used, then our system
              application does not need to load everything at once. It only needs to load what the user expects to see
              when the application first loads. The modules which are lazily loaded will only be loaded when the user
              navigates to their routes. Lazy loading improves the performance of our system applications. It keeps the
              initial payload small and these smaller payloads lead to faster download speeds. It helps in lowering the
              resource cost, especially on mobile networks. If a user doesn’t visit a section of the application, they
              won’t ever download those resources. The concept of lazy loading in angular requires us to format the
              application in a certain way. All the assets that are to be lazy loaded should be added to its own
              module.
              Lazy loading is setup in the main routing file. Lazy loading overcomes the problem of slow loading of
              applications in their own way which hence improves the loading time of the application.</p>
            <p>Lazy loading can be done only in four steps:–</p>
            <ol>
              <li>Update your route file</li>
              <li>Install angular-router-loader and add the loader to your webpack configuration file.</li>
              <li>Define the lazy routes</li>
              <li>Import the routes to the module.</li>
            </ol>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/explain-the-concept-of-lazy-loading-in-a/"
                target="_blank" title="Discuss Explain the concept of lazy loading in Angular 2."><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/explain-the-concept-of-lazy-loading-in-a/"
                target="_blank" title="Discuss Explain the concept of lazy loading in Angular 2."><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-is-the-difference-between-construct">
      <div>
        <div class="chatter_avatar">
          <span>
            Q18.
          </span></div>
        <div>
          <h3>
            What is the difference between constructor and ngOnlnit in Angular js?</h3>
          <div>
            <p>The comprehensive comparison that taps into components initialization process is given below:-</p>
            <ol>
              <li>ngonInit is just a method in a class which structurally is not different to any other method in a
                class. Whereas, a constructor is a completely different thing. It will be called when an instance of a
                class is created.</li>
              <li>A class constructor in angular is used to inject dependencies, which is called constructor injection
                pattern. Whereas, when ngOnInit is called, it has finished creating a component DOM, injected all
                required dependencies through constructor and processed input bindings.</li>
              <li>A constructor is a default method of the class that is executed when the class is instantiated.
                Whereas, ngOnInit is a life cycle hook called by Angular 2 to indicate that angular is done creating
                the
                component.</li>
              <li>ngOnInit relies on the binding of the component. Whereas, it is not the case when a constructor is
                used.</li>
            </ol>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-is-the-difference-between-construct/"
                target="_blank" title="Discuss What is the difference between constructor and ngOnlnit in Angular js?"><i
                  class="fa fa-comments-o"></i> 0 Answer</a> <a href="https://www.onlineinterviewquestions.com/what-is-the-difference-between-construct/"
                target="_blank" title="Discuss What is the difference between constructor and ngOnlnit in Angular js?"><i
                  class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <ins class="adsbygoogle"
        style="display:block" data-ad-format="fluid" data-ad-layout-key="-er-3-69-tb+232" data-ad-client="ca-pub-7645092553596226"
        data-ad-slot="5075333170"></ins>

    </li>
    <li id="what-is-the-meaning-of-component-lifecyc">
      <div>
        <div class="chatter_avatar">
          <span>
            Q19.
          </span></div>
        <div>
          <h3>
            What is the meaning of component lifecycle in Angular 2?</h3>
          <div>
            <p>The component lifecycle hooks overview the life cycle sequence and the interfaces. Angular manages the
              life cycle of a component. Angular creates it, renders it. It can also create and render its children. It
              also checks when its data-bound properties change. It can even destroy it before removing it from the
              DOM.
              The life cycle hook offered by angular provides the visibility into these key life moments and the
              ability
              to act when they occur. The components go through an entire set of processes or life cycle right from its
              initiation to the end of the application.</p>
            <p>There are a number of lifecycle hooks which are listed below:–</p>
            <ol>
              <li>ngOnChanges</li>
              <li>ngOnInit</li>
              <li>ngDoCheck</li>
              <li>ngAfterContentInit</li>
              <li>ngAfterContentChecked</li>
              <li>ngAfterViewInit</li>
              <li>ngAfterViewChecked</li>
              <li>ngOnDestroy</li>
            </ol>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-is-the-meaning-of-component-lifecyc/"
                target="_blank" title="Discuss What is the meaning of component lifecycle in Angular 2?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/what-is-the-meaning-of-component-lifecyc/"
                target="_blank" title="Discuss What is the meaning of component lifecycle in Angular 2?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-is-the-use-of-ngfortrackby-directiv">
      <div>
        <div class="chatter_avatar">
          <span>
            Q20.
          </span></div>
        <div>
          <h3>
            What is the use of ngForTrackBy directive?</h3>
          <div>
            <p> For iterating over a collection in Angular 2, the ngFor directive is used which instantiates a template
              once per item from the collection. If a data needs to be changed at some point in the collection, then a
              problem occurs because angular cannot keep a track of items in the collection and has no knowledge of the
              items which were added or deleted. This results in the deletion of all the DOM elements that are
              associated
              with the data and are again created. If the collection is big, then it becomes more complicated because a
              lot of DOM manipulation occurs which are expensive. So, to solve this problem, a trackBy function is used
              which takes the index and the current item as arguments and returns the unique identifier for this item.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-is-the-use-of-ngfortrackby-directiv/"
                target="_blank" title="Discuss What is the use of ngForTrackBy directive?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/what-is-the-use-of-ngfortrackby-directiv/"
                target="_blank" title="Discuss What is the use of ngForTrackBy directive?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="list-the-key-components-of-angular-2">
      <div>
        <div class="chatter_avatar">
          <span>
            Q21.
          </span></div>
        <div>
          <h3>
            List the key components of Angular 2?</h3>
          <div>
            <p><b>The Angular 2 comprises of the following key components:</b></p>
            <ul>
              <li>Module – This is used to break the application into the logical pieces of the program code and each
                piece of code or module is designed to perform a single and unique task.</li>
              <li>Component – This is used to bring the modules together.</li>
              <li>Templates – This is used to define the Views of an Angular JS application.</li>
              <li>Metadata – This is used to add more data to an Angular JS application.</li>
              <li>Service – This component is used to develop the components, which can be used to share in the entire
                application.</li>
            </ul>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/list-the-key-components-of-angular-2/"
                target="_blank" title="Discuss List the key components of Angular 2?"><i class="fa fa-comments-o"></i>
                0
                Answer</a> <a href="https://www.onlineinterviewquestions.com/list-the-key-components-of-angular-2/"
                target="_blank" title="Discuss List the key components of Angular 2?"><i class="fa fa-edit"></i>
                Suggest
                an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-is-a-template-in-angular-2">
      <div>
        <div class="chatter_avatar">
          <span>
            Q22.
          </span></div>
        <div>
          <h3>
            What is a template in Angular 2?</h3>
          <div>
            <p>The template in Angular 2 is used to define the views of the AngularJS Application.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-is-a-template-in-angular-2/"
                target="_blank" title="Discuss What is a template in Angular 2?"><i class="fa fa-comments-o"></i> 0
                Answer</a> <a href="https://www.onlineinterviewquestions.com/what-is-a-template-in-angular-2/" target="_blank"
                title="Discuss What is a template in Angular 2?"><i class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="how-will-you-convert-a-string-into-a-per">
      <div>
        <div class="chatter_avatar">
          <span>
            Q23.
          </span></div>
        <div>
          <h3>
            How will you convert a string into a percentage?</h3>
          <div>
            <p>To convert a string into a percentage format, a percent filter is used.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/how-will-you-convert-a-string-into-a-per/"
                target="_blank" title="Discuss How will you convert a string into a percentage?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/how-will-you-convert-a-string-into-a-per/"
                target="_blank" title="Discuss How will you convert a string into a percentage?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="explain-component-specific-hooks">
      <div>
        <div class="chatter_avatar">
          <span>
            Q24.
          </span></div>
        <div>
          <h3>
            Explain component specific hooks?</h3>
          <div>
            <p>Below are few component specific hooks in Angular2.</p>
            <ul>
              <li>ngafterContentinit: It initializes the component content</li>
              <li>ngAfterConctentChecked: It checks the binding of the external content.</li>
              <li>ngafterViewinit: It creates the component view.</li>
              <li>ngAfterviewChecked: It checks the bindings of the component’s view.</li>
            </ul>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/explain-component-specific-hooks/"
                target="_blank" title="Discuss Explain component specific hooks?"><i class="fa fa-comments-o"></i> 0
                Answer</a> <a href="https://www.onlineinterviewquestions.com/explain-component-specific-hooks/" target="_blank"
                title="Discuss Explain component specific hooks?"><i class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-is-cli">
      <div>
        <div class="chatter_avatar">
          <span>
            Q25.
          </span></div>
        <div>
          <h3>
            What is CLI?</h3>
          <div>
            <p> CLI is the acronym of Command Line Interface, which can be used to create the Angular JS
              application.Using CLI, you can also create a unit and end-to-end tests for the Angular application.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-is-cli/" target="_blank"
                title="Discuss What is CLI?"><i class="fa fa-comments-o"></i> 0 Answer</a> <a href="https://www.onlineinterviewquestions.com/what-is-cli/"
                target="_blank" title="Discuss What is CLI?"><i class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-is-aot-compilation">
      <div>
        <div class="chatter_avatar">
          <span>
            Q26.
          </span></div>
        <div>
          <h3>
            What is AOT compilation?</h3>
          <div>
            <p>AOT stands for Ahead of Time.It is the compilation in which Angular compiles the components and
              templates
              to JavaScript and HTML while developing.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-is-aot-compilation/"
                target="_blank" title="Discuss What is AOT compilation?"><i class="fa fa-comments-o"></i> 0 Answer</a>
              <a href="https://www.onlineinterviewquestions.com/what-is-aot-compilation/" target="_blank" title="Discuss What is AOT compilation?"><i
                  class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-are-event-emitters">
      <div>
        <div class="chatter_avatar">
          <span>
            Q27.
          </span></div>
        <div>
          <h3>
            What are Event emitters?</h3>
          <div>
            <p> An Event emitter is a class defined in core module that can be used by components and directives to
              emit
              custom events.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-are-event-emitters/"
                target="_blank" title="Discuss What are Event emitters?"><i class="fa fa-comments-o"></i> 0 Answer</a>
              <a href="https://www.onlineinterviewquestions.com/what-are-event-emitters/" target="_blank" title="Discuss What are Event emitters?"><i
                  class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <ins class="adsbygoogle"
        style="display:block" data-ad-format="fluid" data-ad-layout-key="-er-3-69-tb+232" data-ad-client="ca-pub-7645092553596226"
        data-ad-slot="5075333170"></ins>

    </li>
    <li id="what-is-angular-routeparams">
      <div>
        <div class="chatter_avatar">
          <span>
            Q28.
          </span></div>
        <div>
          <h3>
            What is Angular @ RouteParams?</h3>
          <div>
            <p> The RouteParams are used to map the given URL’s based on the route URLs and they become optional
              parameters for that route.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-is-angular-routeparams/"
                target="_blank" title="Discuss What is Angular @ RouteParams?"><i class="fa fa-comments-o"></i> 0
                Answer</a>
              <a href="https://www.onlineinterviewquestions.com/what-is-angular-routeparams/" target="_blank" title="Discuss What is Angular @ RouteParams?"><i
                  class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="explain-angular-2-hidden-property">
      <div>
        <div class="chatter_avatar">
          <span>
            Q29.
          </span></div>
        <div>
          <h3>
            Explain Angular 2 hidden property?</h3>
          <div>
            <p>The hidden property in Angular 2 is a special case.</p>
            <ul>
              <li>The property is more powerful and is used to bind any property of the elements.</li>
              <li>It is considered the closest cousin of <b>ngshow</b> and <b>nghide</b>.</li>
              <li>It sets the display property “display: none”.</li>
            </ul>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/explain-angular-2-hidden-property/"
                target="_blank" title="Discuss Explain Angular 2 hidden property?"><i class="fa fa-comments-o"></i> 0
                Answer</a> <a href="https://www.onlineinterviewquestions.com/explain-angular-2-hidden-property/" target="_blank"
                title="Discuss Explain Angular 2 hidden property?"><i class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="why-are-decorators-used-in-angular-2">
      <div>
        <div class="chatter_avatar">
          <span>
            Q30.
          </span></div>
        <div>
          <h3>
            Why are decorators used in Angular 2?</h3>
          <div>
            <p> In Angular 2, decorators are used as an identifier of class or type of the object that is created by
              the
              TypeScript.The Angular 2 identifies the class below decorator call as the definition of the class and
              extends the decorator specific properties with the class definition.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/why-are-decorators-used-in-angular-2/"
                target="_blank" title="Discuss Why are decorators used in Angular 2?"><i class="fa fa-comments-o"></i>
                0
                Answer</a> <a href="https://www.onlineinterviewquestions.com/why-are-decorators-used-in-angular-2/"
                target="_blank" title="Discuss Why are decorators used in Angular 2?"><i class="fa fa-edit"></i>
                Suggest
                an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="explain-host-decorator-in-angular-2">
      <div>
        <div class="chatter_avatar">
          <span>
            Q31.
          </span></div>
        <div>
          <h3>
            Explain host decorator in Angular 2?</h3>
          <div>
            <p> The host decorators in Angular 2 bind the properties of components with UI element values.The
              properties
              inside a component class definition which are decorated with @HostBinding are accessed in a template from
              the assigned property that is @HostBinding()title=’Our title'( whatever the title is).</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/explain-host-decorator-in-angular-2/"
                target="_blank" title="Discuss Explain host decorator in Angular 2?"><i class="fa fa-comments-o"></i> 0
                Answer</a> <a href="https://www.onlineinterviewquestions.com/explain-host-decorator-in-angular-2/"
                target="_blank" title="Discuss Explain host decorator in Angular 2?"><i class="fa fa-edit"></i> Suggest
                an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-are-pipes-in-angular-2">
      <div>
        <div class="chatter_avatar">
          <span>
            Q32.
          </span></div>
        <div>
          <h3>
            What are Pipes in Angular 2?</h3>
          <div>
            <p> Pipes in Angular 2 are used in templates in order to convert them into a content that is user-friendly
              and readable one within the interpolation braces that is , here the symbol “|” denotes
              the
              pipe.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-are-pipes-in-angular-2/"
                target="_blank" title="Discuss What are Pipes in Angular 2?"><i class="fa fa-comments-o"></i> 0 Answer</a>
              <a href="https://www.onlineinterviewquestions.com/what-are-pipes-in-angular-2/" target="_blank" title="Discuss What are Pipes in Angular 2?"><i
                  class="fa fa-edit"></i> Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="how-can-you-handle-errors-in-angular-2-a">
      <div>
        <div class="chatter_avatar">
          <span>
            Q33.
          </span></div>
        <div>
          <h3>
            How can you handle errors in Angular 2 Applications?</h3>
          <div>
            <p> The Angular 2 Applications provide with the option of error handling.The errors in Angular 2 can be
              handled by including the ReactJS catch library and later using the catch function.</p>
            <ul>
              <li>The catch function, which is used after adding the catch library contains the link to the Error
                handler
                function.</li>
              <li>And in this error, handler function, the errors are sent to the error console, and also the errors
                are
                thrown back to continue the execution.</li>
              <li>So, whenever an error occurs it will be redirected to the error console of the web.</li>
            </ul>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/how-can-you-handle-errors-in-angular-2-a/"
                target="_blank" title="Discuss How can you handle errors in Angular 2 Applications?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/how-can-you-handle-errors-in-angular-2-a/"
                target="_blank" title="Discuss How can you handle errors in Angular 2 Applications?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="can-you-automate-porting-angular-1-code">
      <div>
        <div class="chatter_avatar">
          <span>
            Q34.
          </span></div>
        <div>
          <h3>
            Can you automate porting Angular 1 code to Angular 2?</h3>
          <div>
            <p> No, currently there is not any such tool available that ports the Angular 1 code to the Angular 2 code.<br>
              In the process of porting, the Angular 1 code to Angular 2, the side by side manual conversion of Angular
              1
              directives to the Angular 2 components takes place because they are two different frameworks and hence
              requires different approaches to solve the same problem.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/can-you-automate-porting-angular-1-code/"
                target="_blank" title="Discuss Can you automate porting Angular 1 code to Angular 2?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/can-you-automate-porting-angular-1-code/"
                target="_blank" title="Discuss Can you automate porting Angular 1 code to Angular 2?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="which-module-does-is-required-for-every-angular-2-app">
      <div>
        <div class="chatter_avatar">
          <span>
            Q35.
          </span></div>
        <div>
          <h3>
            Which module does is required for every Angular 2 app?</h3>
          <div>
            <p><strong>AppModule&nbsp;</strong>is required for every Angular 2 app.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/which-module-does-is-required-for-every-angular-2-app/"
                target="_blank" title="Discuss Which module does is required for every Angular 2 app?"><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/which-module-does-is-required-for-every-angular-2-app/"
                target="_blank" title="Discuss Which module does is required for every Angular 2 app?"><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li id="what-is-angular-cli-json-where-can-i-find-it">
      <div>
        <div class="chatter_avatar">
          <span>
            Q36.
          </span></div>
        <div>
          <h3>
            What is .angular-cli.json. Where can I find it.</h3>
          <div>
            <p><strong>angular-cli.json</strong> is used to configure a project in angular2. You can find it in the
              root
              folder of your angular2 Project.</p>
            <div class="chatter_count"><a href="https://www.onlineinterviewquestions.com/what-is-angular-cli-json-where-can-i-find-it/"
                target="_blank" title="Discuss What is .angular-cli.json. Where can I find it."><i class="fa fa-comments-o"></i>
                0 Answer</a> <a href="https://www.onlineinterviewquestions.com/what-is-angular-cli-json-where-can-i-find-it/"
                target="_blank" title="Discuss What is .angular-cli.json. Where can I find it."><i class="fa fa-edit"></i>
                Suggest an edit</a></div>
          </div>
        </div>
        <div class="chatter_right"></div>
        <div class="chatter_clear"></div>
      </div>
    </li>
    <li>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <ins class="adsbygoogle"
        style="display:block" data-ad-format="fluid" data-ad-layout-key="-er-3-69-tb+232" data-ad-client="ca-pub-7645092553596226"
        data-ad-slot="5075333170"></ins>

    </li>





    <li id="is-angular-modules-and-es-modules-are-the-same">
      <div>
        <div class="chatter_avatar">
          <span>
            Q37.
          </span></div>
        <div>
          <h3>
            Is Angular Modules and ES modules are the same?</h3>
          <div>
            <p>No, Both are different.</p>
            
          </div>
        </div>
      </div>
    </li>
  </ul>

</div>